---
const { socialLink } = Astro.props;

const Icon = socialLink.icon;
---

<a
	href={socialLink.url}
	class="text-gray-500 hover:text-gray-800 transition-colors duration-200"
	aria-label={socialLink.name}
	target={socialLink.url.startsWith('mailto:') ? undefined : '_blank'}
	rel={socialLink.url.startsWith('mailto:') ? undefined : 'noopener noreferrer'}
>
	<Icon size={20} />
</a>
